In [1]:
import numpy as np
import pandas as pd

In [2]:
np.exp(1.5)

4.4816890703380645

In [11]:
df=pd.read_csv("C:\\Python\\natashedfn.csv", ',')
df.head()

,варианты.ответов,X.вое.имя,X.озраст,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13
0,28,Кристина,23,3,2,3,2,3,3,4,5,2,1,4,4,3
1,62,Татьяна,18,2,2,3,3,2,3,2,2,2,3,4,6,1
2,75,Сергей,17,2,1,3,3,3,3,3,5,2,5,4,4,1
3,79,Валентин,19,2,1,4,2,2,2,2,1,4,3,4,5,1
4,91,Степан,18,2,1,1,2,2,2,4,5,2,5,5,3,1

In [12]:
#df['X2'].str.split(r'(\d)')

In [13]:
for ii in df.iloc[:, 5:]:
    
    for i in df[ii].unique():
        df[str(ii)+str(i)]=0
        df.loc[df[ii]==i, str(ii)+str(i)]=1
#df.loc[df['X3']

In [14]:
#df[str(ii)+str(i)]=0

In [15]:
df['vuz']=0
df.loc[df["X1"]==3, 'vuz']=1
df['spo']=0
df.loc[df["X1"]==2, 'spo']=1
df['school']=0
df.loc[df["X1"]==1, 'school']=1

In [16]:
df.rename(columns={'X2':'gender'}, inplace=True)

In [17]:
df.head()

,варианты.ответов,X.вое.имя,X.озраст,X1,gender,X3,X4,X5,X6,X7,...,X121,X122,X133,X131,X132,X134,X135,vuz,spo,school
0,28,Кристина,23,3,2,3,2,3,3,4,...,0,0,1,0,0,0,0,1,0,0
1,62,Татьяна,18,2,2,3,3,2,3,2,...,0,0,0,1,0,0,0,0,1,0
2,75,Сергей,17,2,1,3,3,3,3,3,...,0,0,0,1,0,0,0,0,1,0
3,79,Валентин,19,2,1,4,2,2,2,2,...,0,0,0,1,0,0,0,0,1,0
4,91,Степан,18,2,1,1,2,2,2,4,...,0,0,0,1,0,0,0,0,1,0

In [21]:
df.to_csv("C:\\Python\\natashedf.csv", encoding='UTF-8')
#df.to_excel("C:\\Python\\natashedf.xlsx")

In [22]:
print (len(df.loc[df['spo']==1]),len(df.loc[df['vuz']==1]),len(df.loc[df['school']==1]))

338 296 282

In [23]:
import statsmodels.api as sm

In [25]:
df.head()

,варианты.ответов,X.вое.имя,X.озраст,X1,gender,X3,X4,X5,X6,X7,...,X121,X122,X133,X131,X132,X134,X135,vuz,spo,school
0,28,Кристина,23,3,2,3,2,3,3,4,...,0,0,1,0,0,0,0,1,0,0
1,62,Татьяна,18,2,2,3,3,2,3,2,...,0,0,0,1,0,0,0,0,1,0
2,75,Сергей,17,2,1,3,3,3,3,3,...,0,0,0,1,0,0,0,0,1,0
3,79,Валентин,19,2,1,4,2,2,2,2,...,0,0,0,1,0,0,0,0,1,0
4,91,Степан,18,2,1,1,2,2,2,4,...,0,0,0,1,0,0,0,0,1,0

In [39]:
dft=df.drop(df.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15]], axis='columns')#['варианты.ответов', 'X.вое.имя', 'X.озраст']]

In [40]:
dft

,X33,X34,X31,X32,X42,X43,X41,X44,X53,X52,...,X121,X122,X133,X131,X132,X134,X135,vuz,spo,school
0,1,0,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
1,1,0,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
2,1,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
3,0,1,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
4,0,0,1,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,0,0,1,0,1,0,0,0,0,1,...,0,1,0,0,0,1,0,1,0,0
912,0,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
913,0,0,1,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,1,0,0
914,0,1,0,0,0,1,0,0,1,0,...,1,0,1,0,0,0,0,1,0,0
915,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0

In [42]:
spo=dft.drop(columns=['vuz', 'school'])
school=dft.drop(columns=['vuz', 'spo'])
vuz=dft.drop(columns=['spo', 'school'])

In [47]:
#)

In [59]:
md = sm.GLM(endog=spo['spo'], exog=spo.drop(columns=['spo']))#, family=sm.families.Binomial())
results = md.fit()
results.summary()
results_summary=results.summary()
results_as_html = results_summary.tables[1].as_html()
spodf=pd.read_html(results_as_html, header=0, index_col=0)[0]

In [60]:
md = sm.GLM(endog=school['school'], exog=school.drop(columns=['school']))#, family=sm.families.Binomial())
results = md.fit()
results.summary()
results_summary=results.summary()
results_as_html = results_summary.tables[1].as_html()
schooldf=pd.read_html(results_as_html, header=0, index_col=0)[0]

In [61]:
md = sm.GLM(endog=vuz['vuz'], exog=vuz.drop(columns=['vuz']))#, family=sm.families.Binomial())
results = md.fit()
results.summary()
results_summary=results.summary()
results_as_html = results_summary.tables[1].as_html()
vuzdf=pd.read_html(results_as_html, header=0, index_col=0)[0]

In [63]:
vuzdf.to_excel("C:\\Python\\vuzdf.xlsx")
schooldf.to_excel("C:\\Python\\schooldf.xlsx")
spodf.to_excel("C:\\Python\\spodf.xlsx")
vuzdf.loc[vuzdf['P>|z|']<0.05].to_excel("C:\\Python\\vuzdfcorr.xlsx")
schooldf.loc[schooldf['P>|z|']<0.05].to_excel("C:\\Python\\schooldfcorr.xlsx")
spodf.loc[spodf['P>|z|']<0.05].to_excel("C:\\Python\\spodfcorr.xlsx")

In [68]:
vuzdf.loc[vuzdf['P>|z|']<0.05]

        coef  std err      z  P>|z|  [0.025  0.975]
X33   0.1105    0.026  4.197  0.000   0.059   0.162
X32   0.1211    0.035  3.490  0.000   0.053   0.189
X43   0.1040    0.035  2.936  0.003   0.035   0.173
X53   0.1044    0.041  2.542  0.011   0.024   0.185
X65   0.1030    0.050  2.072  0.038   0.006   0.200
X74   0.2379    0.061  3.928  0.000   0.119   0.357
X75   0.1991    0.100  1.990  0.047   0.003   0.395
X82   0.1259    0.048  2.599  0.009   0.031   0.221
X95   0.2442    0.121  2.025  0.043   0.008   0.481
X102  0.1986    0.074  2.692  0.007   0.054   0.343
X113  0.1742    0.044  3.924  0.000   0.087   0.261
X124  0.2369    0.058  4.097  0.000   0.124   0.350
X126 -0.1170    0.044 -2.677  0.007  -0.203  -0.031
X131 -0.1457    0.058 -2.502  0.012  -0.260  -0.032
X135  0.6018    0.191  3.156  0.002   0.228   0.975

In [69]:
schooldf.loc[schooldf['P>|z|']<0.05]

        coef  std err      z  P>|z|  [0.025  0.975]
X31   0.0805    0.026  3.041  0.002   0.029   0.132
X32   0.0965    0.034  2.804  0.005   0.029   0.164
X64   0.1334    0.051  2.618  0.009   0.034   0.233
X74  -0.1521    0.060 -2.530  0.011  -0.270  -0.034
X71   0.5051    0.143  3.537  0.000   0.225   0.785
X87   0.1154    0.049  2.372  0.018   0.020   0.211
X91   0.1718    0.085  2.026  0.043   0.006   0.338
X95  -0.2517    0.120 -2.103  0.035  -0.486  -0.017
X116  0.0953    0.036  2.677  0.007   0.026   0.165
X126  0.1729    0.043  3.983  0.000   0.088   0.258
X131  0.1212    0.058  2.098  0.036   0.008   0.234
X132  0.1495    0.057  2.616  0.009   0.037   0.262
X134  0.1494    0.061  2.451  0.014   0.030   0.269

In [70]:
spodf.loc[spodf['P>|z|']<0.05]

        coef  std err      z  P>|z|  [0.025  0.975]
X34   0.0939    0.043  2.171  0.030   0.009   0.179
X32  -0.1036    0.037 -2.792  0.005  -0.176  -0.031
X41   0.1500    0.056  2.699  0.007   0.041   0.259
X63   0.0629    0.031  2.049  0.040   0.003   0.123
X62   0.0909    0.040  2.297  0.022   0.013   0.168
X73   0.1314    0.051  2.598  0.009   0.032   0.231
X102 -0.1741    0.079 -2.206  0.027  -0.329  -0.019
X121  0.0814    0.041  1.967  0.049   0.000   0.163
X133  0.1390    0.056  2.502  0.012   0.030   0.248

In [73]:
dft=df.drop(df.columns[[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15]], axis='columns')
dft.drop(columns=['vuz', 'school', 'spo'], inplace=True)
dft.head()

,X.озраст,X33,X34,X31,X32,X42,X43,X41,X44,X53,...,X126,X125,X123,X121,X122,X133,X131,X132,X134,X135
0,23,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,18,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
2,17,1,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,19,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,18,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [74]:
dft['X.озраст'].unique()

array([23, 18, 17, 19, 21, 16, 22, 20, 14, 15], dtype=int64)

In [76]:
dft[14]=0
dft.loc[dft['X.озраст']==14, 14]=1
dft[15]=0
dft.loc[(dft['X.озраст']>14) & (dft['X.озраст']<17), 15]=1
dft[17]=0
dft.loc[(dft['X.озраст']>16) & (dft['X.озраст']<19), 17]=1
dft[19]=0
dft.loc[(dft['X.озраст']>19) & (dft['X.озраст']<21), 19]=1
dft[21]=0
dft.loc[(dft['X.озраст']>21), 21]=1

In [78]:
dft.drop(columns=['X.озраст'], inplace=True)

In [79]:
one=dft.drop(columns=[15, 17, 19, 21])
two=dft.drop(columns=[14, 17, 19, 21])
three=dft.drop(columns=[14, 15, 19, 21])
four=dft.drop(columns=[14, 15, 17, 21])
five=dft.drop(columns=[14, 15, 17, 19])

In [80]:
md = sm.GLM(endog=one[14], exog=one.drop(columns=[14]))#, family=sm.families.Binomial())
results = md.fit()
results.summary()
results_summary=results.summary()
results_as_html = results_summary.tables[1].as_html()
onedf=pd.read_html(results_as_html, header=0, index_col=0)[0]

In [81]:
md = sm.GLM(endog=two[15], exog=two.drop(columns=[15]))#, family=sm.families.Binomial())
results = md.fit()
results.summary()
results_summary=results.summary()
results_as_html = results_summary.tables[1].as_html()
twodf=pd.read_html(results_as_html, header=0, index_col=0)[0]

In [82]:
md = sm.GLM(endog=three[17], exog=three.drop(columns=[17]))#, family=sm.families.Binomial())
results = md.fit()
results.summary()
results_summary=results.summary()
results_as_html = results_summary.tables[1].as_html()
threedf=pd.read_html(results_as_html, header=0, index_col=0)[0]

In [83]:
md = sm.GLM(endog=four[19], exog=four.drop(columns=[19]))#, family=sm.families.Binomial())
results = md.fit()
results.summary()
results_summary=results.summary()
results_as_html = results_summary.tables[1].as_html()
fourdf=pd.read_html(results_as_html, header=0, index_col=0)[0]

In [84]:
md = sm.GLM(endog=five[21], exog=five.drop(columns=[21]))#, family=sm.families.Binomial())
results = md.fit()
results.summary()
results_summary=results.summary()
results_as_html = results_summary.tables[1].as_html()
fivedf=pd.read_html(results_as_html, header=0, index_col=0)[0]

In [88]:
onedf.to_excel("C:\\Python\\onedf.xlsx")
twodf.to_excel("C:\\Python\\twodf.xlsx")
threedf.to_excel("C:\\Python\\threedf.xlsx")
fourdf.to_excel("C:\\Python\\fourdf.xlsx")
fivedf.to_excel("C:\\Python\\fivedf.xlsx")


onedf.loc[onedf['P>|z|']<=0.05].to_excel("C:\\Python\\onedfcorr.xlsx")
twodf.loc[twodf['P>|z|']<=0.05].to_excel("C:\\Python\\twodfcorr.xlsx")
threedf.loc[threedf['P>|z|']<=0.05].to_excel("C:\\Python\\threedfcorr.xlsx")
fourdf.loc[fourdf['P>|z|']<=0.05].to_excel("C:\\Python\\fourdfcorr.xlsx")
fivedf.loc[fivedf['P>|z|']<=0.05].to_excel("C:\\Python\\fivedfcorr.xlsx")

In [90]:
onedf.loc[onedf['P>|z|']<=0.05]

        coef  std err      z  P>|z|  [0.025  0.975]
X92   0.0614    0.028  2.201  0.028   0.007   0.116
X126  0.0931    0.030  3.112  0.002   0.034   0.152
X131  0.0961    0.040  2.415  0.016   0.018   0.174

In [91]:
twodf.loc[twodf['P>|z|']<=0.05]

        coef  std err      z  P>|z|  [0.025  0.975]
X31   0.0934    0.028  3.378  0.001   0.039   0.148
X42   0.0891    0.034  2.600  0.009   0.022   0.156
X43   0.0817    0.037  2.223  0.026   0.010   0.154
X51   0.1895    0.096  1.971  0.049   0.001   0.378
X74  -0.1425    0.063 -2.268  0.023  -0.266  -0.019
X71   0.2954    0.149  1.980  0.048   0.003   0.588
X133  0.1192    0.054  2.213  0.027   0.014   0.225
X134  0.1998    0.064  3.138  0.002   0.075   0.325

In [92]:
threedf.loc[threedf['P>|z|']<=0.05]

        coef  std err      z  P>|z|  [0.025  0.975]
X33   0.0923    0.027  3.399  0.001   0.039   0.146
X41   0.1752    0.054  3.269  0.001   0.070   0.280
X52   0.0930    0.040  2.311  0.021   0.014   0.172
X103  0.0738    0.032  2.323  0.020   0.012   0.136
X112  0.0697    0.035  1.976  0.048   0.001   0.139
X126  0.1091    0.045  2.419  0.016   0.021   0.197
X132  0.1886    0.059  3.175  0.001   0.072   0.305

In [93]:
fourdf.loc[fourdf['P>|z|']<=0.05]

        coef  std err      z  P>|z|  [0.025  0.975]
X34   0.0443    0.021  2.059  0.040   0.002   0.086
X44   0.1188    0.037  3.195  0.001   0.046   0.192
X65   0.0730    0.026  2.761  0.006   0.021   0.125
X72   0.0579    0.024  2.418  0.016   0.011   0.105
X82   0.0622    0.026  2.413  0.016   0.012   0.113
X94  -0.0819    0.036 -2.261  0.024  -0.153  -0.011
X115  0.0765    0.035  2.203  0.028   0.008   0.145
X133 -0.0683    0.028 -2.474  0.013  -0.122  -0.014
X131 -0.1076    0.031 -3.476  0.001  -0.168  -0.047
X132 -0.0667    0.031 -2.176  0.030  -0.127  -0.007
X134 -0.0957    0.033 -2.931  0.003  -0.160  -0.032
X135  0.4255    0.101  4.196  0.000   0.227   0.624

In [94]:
fivedf.loc[fivedf['P>|z|']<=0.05]

        coef  std err      z  P>|z|  [0.025  0.975]
X31  -0.0295    0.014 -2.103  0.035  -0.057  -0.002
X65   0.0572    0.026  2.185  0.029   0.006   0.108
X74   0.0687    0.032  2.154  0.031   0.006   0.131
X81   0.0504    0.018  2.848  0.004   0.016   0.085
X101  0.0744    0.035  2.153  0.031   0.007   0.142
X103 -0.0320    0.016 -1.973  0.049  -0.064  -0.000
X124  0.1133    0.030  3.722  0.000   0.054   0.173
X125 -0.0399    0.018 -2.262  0.024  -0.074  -0.005